@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

#login-form {
	margin:5% auto;
	max-width:500px;
}
/* home page */
#wrapper{
	padding-top:50px;
}

/* highlight actual day in fullCalendar */
.fc-unthemed td.fc-today {
    background: #ea7c7c;
}
